<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
</head>
<body><header>
  <div class="logo">
    <img src="assets/images/logo.png" alt="Logo de l'application">
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/about">A Propos</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <button class="connect-button">Se Connecter</button>
  </nav>
</header>

  
</body>
</html>